# Things get noisy on certain OSes. Keep approved
# configs only instead of the other way around.

.*.sw*
.DS_Store
.netrwhist*
node_modules
tnsnames.ora

dotfiles/.config/*
dotfiles/.config/include/**/*.secrets.sh
dotfiles/.config/nvim/plugged
dotfiles/.config/strata
dotfiles/.config/tmux/plugins
dotfiles/.config/zsh/.chpwd-recent-dirs
dotfiles/.config/zsh/.zcompdump*
dotfiles/.config/zsh/.zsh_history
dotfiles/.config/zsh/.zsh_sessions
dotfiles/.config/zsh/zsh-autocomplete/
dotfiles/.local/bin/*
dotfiles/.local/include
dotfiles/.local/lib
dotfiles/.local/share
dotfiles/.local/state/gh
dotfiles/.ssh
dotfiles/.vim/bundle-disabled

!**/*.gitkeep
!dotfiles/.config/bash
!dotfiles/.config/bat
!dotfiles/.config/bugwarrior
!dotfiles/.config/composer
!dotfiles/.config/eslint
!dotfiles/.config/flake8
!dotfiles/.config/git
!dotfiles/.config/include
!dotfiles/.config/irssi
!dotfiles/.config/markdownlint
!dotfiles/.config/mc
!dotfiles/.config/mutt
!dotfiles/.config/nvim
!dotfiles/.config/oracle
!dotfiles/.config/perlbrew
!dotfiles/.config/ranger
!dotfiles/.config/readline
!dotfiles/.config/strata/startpage.html
!dotfiles/.config/task
!dotfiles/.config/tmux
!dotfiles/.config/tmux/plugins/tpm
!dotfiles/.config/tmuxinator
!dotfiles/.config/vscode
!dotfiles/.config/zsh
!dotfiles/.local/bin/iforgot.py
!dotfiles/.ssh/config
!dotfiles/.ssh/config.d/.gitkeep
